@import 'src/style/mixins';

.main {
   min-height: calc(100vh - 80px);

   .header {
      background: linear-gradient(54deg, rgba(74, 76, 179, .95) 34%, hsla(0, 34%, 71%, .95));
      margin-bottom: 40px;

      .headerContainer {
         @include container;
         justify-content: flex-start;
         padding: 0 15px;

         .text {
            padding-left: 50px;
            color: white;
            margin: 70px 0 50px;

            p {
               margin-bottom: 10px;
               font-family: Roboto Mono, monospace;
            }

            .profile {
               margin-top: 30px;
               width: 330px;
               display: flex;
               justify-content: space-between;

               &Headers {
                  text-transform: uppercase;
                  color: rgba(255, 255, 255, 0.5);

                  span {
                     font-weight: bold;
                  }
               }

               &Items, &Headers {
                  display: flex;
                  flex-direction: column;
                  justify-content: space-between;
                  min-height: 150px;
               }
            }
         }

         .photo {
            img {
               border-radius: 5px;
               margin-top: 10px;
               position: relative;
               top: 40px;
            }
         }
      }
   }


   .hello {
      padding: 20px 0;

      .helloContainer {
         @include container;
         display: block;
      }

      .btn {
         @include Button;
         margin-top: 30px;
      }
   }

   @media (max-width: 1000px) {
      .header {
         flex-direction: column;
         justify-content: space-around;
         align-items: flex-start;

         .headerContainer {
            justify-content: space-between;

            .text {
               padding: 0;
            }

            .photo {
               display: none;
            }
         }
      }
   }
}

