@import 'src/style/variables';

@mixin container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   width: 60%;
   margin: 0 auto;
   padding: 20px 15px;

   @media (max-width: 1200px) {
      width: 80%;
   }

   @media (max-width: 1000px) {
      width: 90%;
   }

   @media (max-width: 700px) {
      width: 100%;
   }
}

@mixin itemsBlock {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;

   .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid;
      padding: 15px;
      width: 400px;
      margin: 20px 0;
   }
}

@mixin Button {
   width: 170px;
   height: 50px;
   padding: 15px;
   background: $main-color;
   border-radius: 25px;
   font: 14px Roboto, sans-serif;
   color: #fff;
   text-transform: uppercase;
   font-weight: 900;
   border: none;
   outline: none;
   &:hover {
      cursor: pointer;
      background: lighten($main-color, 3%);
   }
}

@mixin Link {
   font-size: 18px;
   color: white;
   text-decoration: none;
   line-height: 20px;
   font-family: Roboto Mono, monospace;
   text-transform: uppercase;
   font-weight: 700;
   &:hover {
      color: darken(#fff, 15%);

      &:after {
         content: '_';
      }
   }
}