@mixin container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100%;
   width: 80%;
   margin: 0 auto;
}

@mixin itemsBlock {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 100%;

   .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 1px solid;
      padding: 15px;
      width: 400px;
      margin: 20px 0;
   }
}